@import '~node_modules/modern-normalize/modern-normalize.css';

body {
    margin: 0;

    font-family: 'DM Sans', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.76;
       
    background-color: $whiteBgColor;
    color:$greyTextColor;

}
