@charset "UTF-8";
@import '~node_modules/modern-normalize/modern-normalize.css';
body {
  margin: 0;
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.76;
  background-color: #E5E5E5;
  color: #907E82;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.footer__social-list, .contacts__list, .combutton__list, .comments__div, .comments__item, .hero__btn-list, .navigation__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer__container, .container, .header__container {
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .footer__container, .container, .header__container {
    max-width: 320px;
  }
}
@media screen and (min-width: 768px) {
  .footer__container, .container, .header__container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__container, .container, .header__container {
    max-width: 1200px;
  }
}

.contacts, .comments {
  padding-top: 60px;
  padding-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .contacts, .comments {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 768px) {
  .contacts, .comments {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts, .comments {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.header {
  margin-left: auto;
  margin-right: auto;
  padding-top: 40px;
  background-color: #FFB8CA;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header {
    padding-top: 32px;
    padding-left: 32px;
    padding-right: 32px;
  }
}
.header__container {
  padding-bottom: 84px;
  position: relative;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header__container {
    padding-bottom: 56px;
  }
}
.header__button {
  display: flex;
  align-items: center;
  text-align: center;
  min-width: 160px;
  padding: 14px 37px;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  color: #D41443;
  background: #FFFFFF;
  border: none;
  border-radius: 22px;
  cursor: pointer;
  align-items: center;
  text-align: center;
}
.header__button::after {
  content: "";
  width: 6px;
  height: 10px;
  margin-left: 13px;
  background-image: url(/src/images/arrow.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.header__button:hover, .header__button:focus, .header__button:active {
  background-color: #ECEBEB;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 60px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .navigation {
    margin-bottom: 20px;
  }
}
.navigation__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 1199px) {
  .navigation__list {
    display: none;
  }
}
.navigation__item:not(:last-child) {
  margin-right: 35px;
}
.navigation__link {
  text-decoration: none;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  color: #FFFFFF;
}
.navigation__link.active {
  color: #D41443;
}

.hero__title-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.hero__meta-wrapper {
  z-index: 1;
}
.hero__title {
  max-width: 277px;
  margin: 0;
  margin-bottom: 24px;
  font-family: "Titan One", sans-serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .hero__title {
    margin-bottom: 20px;
    max-width: 162px;
  }
}
.hero__title--first {
  font-size: 38px;
  line-height: 1.15;
  color: #FFFFFF;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .hero__title--first {
    font-size: 22px;
    line-height: 1.13;
  }
}
.hero__title--second {
  font-size: 58px;
  line-height: 0.9;
  color: #D41443;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .hero__title--second {
    font-size: 34px;
    line-height: 0.9;
  }
}
.hero__btn-list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 108px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .hero__btn-list {
    margin-bottom: 61px;
  }
}
.hero__btn-item {
  border-radius: 20px;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28;
}
.hero__btn-item:not(:last-child) {
  margin-right: 12px;
  background-color: #D41443;
  color: #FFFFFF;
}
.hero__btn-item:last-child {
  background-color: #FFFFFF;
  color: #D41443;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .hero__btn-item {
    font-size: 8px;
    line-height: 1.25;
  }
}
.hero__btn {
  display: block;
  text-decoration: none;
  padding: 11px 20px;
  color: inherit;
  text-align: center;
  border-radius: 20px;
}
.hero__btn:hover, .hero__btn:focus, .hero__btn:active {
  background-color: #ECEBEB;
  color: #D41443;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .hero__btn {
    padding: 7px 14px;
  }
}

.points {
  position: relative;
  margin: 0;
}
.points:not(:last-child) {
  margin-bottom: 15px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .points:not(:last-child) {
    margin-bottom: 16px;
  }
}
.points__number {
  display: block;
  margin-bottom: 2px;
  font-family: "Titan One", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 46px;
  line-height: 1.15;
  text-align: right;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #D41443;
}
.points__number::before {
  z-index: -2;
  position: absolute;
  right: -15px;
  top: -5px;
  content: "";
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #FFFFFF;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .points__number {
    font-size: 28px;
    line-height: 1.14;
  }
}
.points__name {
  display: block;
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28;
  text-align: right;
  color: #FFFFFF;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .points__name {
    font-size: 8px;
    line-height: 1.25;
  }
}

.card {
  margin-left: 213px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .card {
    margin-left: 152px;
    z-index: 3;
  }
}
.card__meta {
  margin: 0;
  z-index: 2;
  max-width: 200px;
  margin-bottom: 20px;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;
  color: #FFFFFF;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .card__meta {
    font-size: 8px;
    line-height: 1.5;
    max-width: 114px;
  }
}

.arrow-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 26px;
  height: 26px;
  border: none;
  border-color: transparent;
  border-radius: 50%;
  background-color: #FFFFFF;
  cursor: pointer;
  color: #D41443;
}
.arrow-btn:hover, .arrow-btn:focus, .arrow-btn:active {
  background-color: #ECEBEB;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .arrow-btn {
    width: 18px;
    height: 18px;
  }
}
.arrow-btn__arrow-icon {
  fill: currentColor;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .arrow-btn__arrow-icon {
    width: 5px;
    height: 5px;
  }
}

.milk__foto {
  position: absolute;
  display: block;
  height: auto;
}
@media screen and (max-width: 767px) {
  .milk__foto {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .milk__foto {
    left: 0;
    bottom: 16px;
    min-width: 152px;
  }
}
@media screen and (min-width: 1200px) {
  .milk__foto {
    left: 0;
    bottom: 60px;
    min-width: 213px;
  }
}

.icecream__foto {
  position: absolute;
  display: block;
  height: auto;
}
@media screen and (max-width: 767px) {
  .icecream__foto {
    left: 36;
    bottom: 0;
    min-width: 346px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .icecream__foto {
    left: 248;
    bottom: 0;
    min-width: 335px;
    z-index: -0.5;
  }
}
@media screen and (min-width: 1200px) {
  .icecream__foto {
    left: 517;
    bottom: 0;
    min-width: 534px;
  }
}

.girl__foto {
  position: absolute;
  display: block;
  height: auto;
}
@media screen and (max-width: 767px) {
  .girl__foto {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .girl__foto {
    right: 0;
    bottom: 0;
    min-width: 190px;
    z-index: 1;
  }
}
@media screen and (min-width: 1200px) {
  .girl__foto {
    right: 0;
    bottom: 0;
    min-width: 304px;
  }
}

.comments {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}

.comments__item {
  margin-bottom: 30px;
}

.photo__com {
  margin: 0 auto;
  margin-bottom: 30px;
  width: 85px;
  height: 85px;
  border-radius: 50%;
}

.comments__div {
  position: relative;
  margin: 0 auto;
  margin-bottom: 30px;
  width: 100%;
  background-color: #FAFAFA;
  padding: 43px 50px 20px;
}
.comments__div::before {
  content: "";
  display: block;
  position: absolute;
  left: 61px;
  top: 28px;
  width: 54px;
  height: 40px;
  background-image: url(/src/images/comments/“.svg);
}

.review {
  position: relative;
  padding: 0px 16px 0px 7px;
  font-weight: 500;
  font-size: 12px;
  line-height: 2.55;
  text-align: center;
  color: #000000;
  background-image: repeating-linear-gradient(to top, #E1E1E1, #E1E1E1 1px, transparent 1px, transparent 31px);
  background-repeat: no-repeat;
}

.element::after {
  content: "";
  display: block;
  height: 4px;
  background-image: url(/src/images/redpoints-icon.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.comments__girl {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.86;
  text-align: center;
  color: #000000;
}

@media screen and (min-width: 768px) {
  .comments__div {
    padding: 47px 36px 28px 60px;
    width: 620px;
  }
  .comments__div::before {
    top: 30px;
    left: 40px;
  }
  .review {
    padding: 0px 44px 0px 20px;
    font-size: 14px;
    line-height: 2.16;
    letter-spacing: 0.04em;
    background-image: repeating-linear-gradient(to top, #E1E1E1, #E1E1E1 1px, transparent 1px, transparent 30px);
  }
  .comments__girl {
    font-size: 16px;
  }
}
@media screen and (min-width: 1200px) {
  .comments__div {
    padding: 47px 54px 32px 59px;
    width: 926px;
  }
  .comments__div::before {
    top: 32px;
    left: 50px;
  }
  .review {
    padding: 0px 35px 0px 28px;
    font-size: 16px;
    line-height: 1.86;
  }
  .comments__girl {
    font-size: 20px;
  }
}
.combutton__list {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-right: -40px;
}

.combutton__item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 18px;
}
.combutton__item:not(:last-child) {
  margin-right: 18px;
}

.combutton {
  outline: none;
  border: transparent;
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.combutton__one {
  outline: none;
  border: transparent;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  color: transparent;
  background: transparent;
}

.home__icon {
  width: 12px;
  height: 12px;
  fill: #D41443;
}

.contacts {
  background: linear-gradient(to bottom, #FFFFFF 20%, #FFF5F6 20% 80%);
}

.contacts__list {
  margin-bottom: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 767px) {
  .contacts__list {
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
    display: block;
  }
}

.contacts__item {
  /*-- border-radius: 24px;
   padding: 50px 31px;
   margin: auto;
   background-color: $primmaryWhiteColor;
   box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1); --*/
  width: 220px;
  padding: 43px 20px;
  background-color: #ffffff;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
}
@media screen and (max-width: 767px) {
  .contacts__item {
    max-width: 220px;
    margin-left: auto;
    margin-right: auto;
    padding: 43px 21px 43px 20px;
  }
}
@media screen and (max-width: 767px) {
  .contacts__item:not(:last-child) {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 768px) {
  .contacts__item {
    flex-basis: calc((100% - 60px) / 3);
    margin-right: 20px;
    padding: 40px 32px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__item {
    flex-basis: calc((100% - 60px) / 3);
    margin-right: 30px;
    padding: 51px 44px 62px 43px;
  }
  .contacts__item:last-child {
    margin-right: 0px;
  }
}

.contacts__block {
  margin-bottom: 30px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.8;
  text-align: center;
  letter-spacing: 0.04em;
}

.name__cafe {
  width: 73px;
  height: 28px;
  background: #F0D1A5;
  border-radius: 4px;
}

.name__foodtruck {
  width: 138px;
  height: 28px;
  background: #C2E297;
  border-radius: 4px;
}

.contacts__place::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #E1E1E1;
  margin-top: 30px;
  margin-bottom: 30px;
}

.contacts__title {
  margin-bottom: 14px;
  font-weight: 500;
  font-size: 14px;
  color: #000000;
  line-height: 1.8;
  letter-spacing: 0.04em;
}

.contacts__text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.6;
  color: #907E82;
  letter-spacing: 0.04em;
}

.contact__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.8;
  color: #907E82;
  cursor: pointer;
  text-decoration: none;
}
.contact__link:hover, .contact__link:focus {
  color: #D41443;
}

.contacts__date {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.8;
  color: #000000;
  letter-spacing: 0.04em;
}

.contacts__time {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.8;
  color: #FFA5BA;
}

.contacts__daysplace::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #E1E1E1;
  margin-top: 30px;
  margin-bottom: 30px;
}

.button__contacts {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 54px;
}
@media screen and (max-width: 767px) {
  .button__contacts {
    /*-- display: block;
    justify-content: center;
    text-align: center; --*/
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .button__contacts {
    margin-top: 86px;
  }
}

.button__locat {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.3;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  width: 161px;
  height: 44px;
  margin-left: 12px;
  background-color: #D41443;
  border-radius: 22px;
  border: none;
}
.button__locat:not(:last-child) {
  margin-bottom: 10px;
}
.button__locat.locat-franchise {
  background-color: #ffffff;
  color: #D41443;
}
.button__locat.locat-franchise:hover, .button__locat.locat-franchise:focus {
  background-color: #ECEBEB;
}
.button__locat.locat-franchise:focus {
  outline: 1px solid #D41443;
  outline-offset: 1px;
}

.button__locat:hover,
.button__locat:focus {
  cursor: pointer;
  outline: 1px solid #D41443;
  outline-offset: 1px;
  background-color: #ECEBEB;
  color: #D41443;
}

@media screen and (min-width: 1200px) {
  .button__locat:focus .button__locat {
    width: 198px;
  }
  .button__locat:focus .button__locat.locat-franchise {
    width: 180px;
  }
}

.location-icon {
  stroke: #ffffff;
  fill: #D41443;
  width: 14px;
  height: 12px;
  margin-left: 8px;
}
.location-icon.location-iconfran {
  margin-left: 13px;
  stroke: #D41443;
  fill: #ffffff;
}

.footer {
  padding-top: 40px;
  background-color: #FFF5F6;
}
@media screen and (max-width: 767px) {
  .footer__container {
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 768px) {
  .footer__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__container {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 60px;
  }
}
@media screen and (max-width: 767px) {
  .footer__slogan {
    margin-bottom: 40px;
  }
}
.footer__slogan--first {
  display: block;
  margin: 0;
  font-family: "Titan One", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.16;
  text-transform: uppercase;
  color: #FFA5BA;
}
@media screen and (max-width: 767px) {
  .footer__slogan--first {
    max-width: 218px;
    margin-bottom: 16px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__slogan--first {
    max-width: 340px;
    margin-bottom: 12px;
    font-size: 26px;
    line-height: 1.15;
    letter-spacing: 0.04em;
  }
}
@media screen and (min-width: 1200px) {
  .footer__slogan--first {
    margin-bottom: 16px;
    font-size: 30px;
    line-height: 1.13;
    letter-spacing: 0.04em;
  }
}
.footer__slogan--second {
  display: block;
  margin: 0;
  font-family: "Titan One", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #D41443;
}
@media screen and (max-width: 767px) {
  .footer__slogan--second {
    max-width: 200px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__slogan--second {
    max-width: 340px;
    font-size: 48px;
    line-height: 1.15;
    letter-spacing: 0.06em;
  }
}
@media screen and (min-width: 1200px) {
  .footer__slogan--second {
    font-size: 58px;
    line-height: 1.14;
    letter-spacing: 0.06em;
  }
}
.footer__cover {
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__cover {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .footer__cover {
    margin-bottom: 0;
  }
}
.footer__social-list {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
@media screen and (max-width: 767px) {
  .footer__social-list {
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 768px) {
  .footer__social-list {
    margin-bottom: 40px;
  }
}
.footer__item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background-color: #FFB8CA;
  cursor: pointer;
}
@media screen and (max-width: 767px) {
  .footer__item:not(:last-child) {
    margin-right: 28px;
  }
}
@media screen and (min-width: 768px) {
  .footer__item:not(:last-child) {
    margin-right: 30px;
  }
}
.footer__social-links {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  border-radius: 50%;
}
.footer__social-links:hover, .footer__social-links:focus, .footer__social-links:active {
  background-color: #D41443;
}
.footer__contact {
  margin: 0;
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.86;
  color: #000000;
}
@media screen and (max-width: 767px) {
  .footer__contact {
    text-align: right;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__contact {
    font-size: 14px;
  }
}
.footer__tel {
  color: #D41443;
  text-decoration: none;
}
.footer__copyright-wrapper {
  border-top: 1px solid #E1E1E1;
  padding: 16px 20px 4px 20px;
}
@media screen and (min-width: 768px) {
  .footer__copyright-wrapper {
    padding: 8px 16px 4px 16px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__copyright-wrapper {
    padding: 7px 16px 4px 16px;
    margin-left: 16px;
    margin-right: 16px;
  }
}
.footer__copyright {
  margin-bottom: 0;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.52;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .footer__copyright {
    max-width: 150px;
  }
}/*# sourceMappingURL=index.css.map */