%visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
%list {
    list-style: none;
    padding: 0;
    margin: 0;
}
%container {
    
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;

    @media screen and (min-width: 320px) and (max-width:767px) {
        max-width: 320px;

    }

    @media screen and (min-width: 768px) {
        max-width: 768px;}
     

    @media screen and (min-width: 1200px) {
        max-width: 1200px;
       
    }
}
%section {
    padding-top: 60px;
    padding-bottom: 60px;

    margin-left: auto;
    margin-right: auto;

    @media screen and (min-width: 480px) and (max-width:767px) {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    @media screen and (min-width: 768px) {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    @media screen and (min-width: 1200px) {
        padding-top: 60px;
        padding-bottom: 60px;
    }
}