$primmaryWhiteColor: #FFFFFF;
$primmaryRedColor:#D41443;
$primmaryBlackColor:#000000;
$pinkTextColor:#FFA5BA;
$greyTextColor:#907E82;

$accentBtnColor:#ECEBEB;

$whiteBgColor:#E5E5E5;
$greyBgColor:#FAFAFA;

$footerBgColor:#FFF5F6;
$hederBgcolor:#FFB8CA;
$cardColor1: #FFB8CA;
$cardColor2: #F0D1A5;
$cardColor3:#C2E297;

$font-primary:'DM Sans', sans-serif;
$font-secondary: 'Titan One', sans-serif;
