<section class="about">
    <div class="container">
        <p class="about__subtitle">tradition and love</p>
        <h2 class="about__title">how it’s made?</h2>
        <div class="about__wrap">
            <div class="about__imgwrap">
                <!-- <img class="about__img" src="" alt="" width="501" height="501"> -->
            </div>
            <div class="about__text">
                <p class="about__first-text">Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem eget, egestas eros.
                Maecenas eleifend erat at justo fringilla.</p>
                <p class="about__second-text">Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in imperdiet placerat.
                Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt.</p>
                <p class="about__third-text">Aliquam erat volutpat. Aenean accumsan.</p>
                <button class="about__btn" type="button" >
                    Read more
                    <!-- <svg class="about__icon" width="4.43" height="8"></svg>     -->
                </button>
            </div>
        </div>
    </div>    
</section>