<section class="contacts">
  <div class="container">
    <h2 class="visually-hidden">Контакты</h2>
    <ul class="contacts__list">
      <li class="contacts__item">
        <p class="contacts__block name__cafe">Cafe</p>

        <div class="contacts__place">
          <h3 class="contacts__title">Chicago</h3>
          <p class="contacts__text">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
        </div>

        <div class="contacts__days">
          <p class="contacts__date">Monday - Friday</p>
          <p class="contacts__time">06:00 AM - 10:00 PM</p>
        </div>
        <div class="contacts__days">
          <p class="contacts__date">Saturday - Sunday</p>
          <p class="contacts__time">08:00 AM - 16:00 PM</p>
        </div>

        <address class="contacts__address">
          <a class="contact__link" href="tel:610383766284"
            >+61(0) 383 766 284</a
          >
          <a class="contact__link" href="mailto:noreply@envato.com"
            >noreply@envato.com</a
          >
        </address>
      </li>

      <li class="contacts__item">
        <p class="contacts__block name__foodtruck">Foodtruck</p>

        <div class="contacts__place">
          <h3 class="contacts__title">Los Angeles</h3>
          <p class="contacts__text">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
        </div>

        <div class="contacts__days">
          <p class="contacts__date">Monday - Friday</p>
          <p class="contacts__time">06:00 AM - 10:00 PM</p>
        </div>

        <div class="contacts__days">
          <p class="contacts__date">Saturday - Sunday</p>
          <p class="contacts__time">08:00 AM - 16:00 PM</p>
        </div>

        <address class="contacts__address">
          <a class="contact__link" href="tel:610383766284"
            >+61(0) 383 766 284</a
          >
          <a class="contact__link" href="mailto:noreply@envato.com"
            >noreply@envato.com</a
          >
        </address>
      </li>

      <li class="contacts__item">
        <p class="contacts__block name__cafe">Cafe</p>
        <div class="contacts__place">
          <h3 class="contacts__title">New York</h3>
          <p class="contacts__text">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
        </div>

        <div class="contacts__days">
          <p class="contacts__date">Monday - Friday</p>
          <p class="contacts__time">06:00 AM - 10:00 PM</p>
        </div>

        <div class="contacts__days">
          <p class="contacts__date">Saturday - Sunday</p>
          <p class="contacts__time">08:00 AM - 16:00 PM</p>
        </div>

        <address class="contacts__address">
          <a class="contact__link" href="tel:610383766284"
            >+61(0) 383 766 284</a
          >
          <a class="contact__link" href="mailto:noreply@envato.com"
            >noreply@envato.com</a
          >
        </address>
      </li>
    </ul>

    <div class="button__contacts">
      <a href="" class="button__locat"
        >Our locations
        <svg class="location-icon">
          <use href="./images/symbol-defs.svg#icon-arrow-icon"></use>
        </svg>
      </a>
      <a href="" class="button-locat locat-franchise"
        >Franchise
        <svg class="location-icon location-iconfran">
          <use href="./images/symbol-defs.svg#icon-arrow-icon"></use>
        </svg>
      </a>
    </div>
  </div>
</section>
