<section class="comments">
  <div class="comments__container">
    <h2 class="comments__title visually-hidden">Ваши отзывы</h2>
    <ul class="comments__list">
      <li class="comments__item">
        <div class="photo__wrapper">
          <picture>
            <source
              srcset="/src/images/emeli@1x.jpg 1x, /src/images/emeli@2x.jpg 2x"
            />
            <img
              src="/src/images/emeli@1x.jpg"
              alt=""
              class="comments__photo"
            />
          </picture>
        </div>

        <div class="comments__div">
          <p class="review">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
            Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
            ipsum primis in nibh vel risus.
          </p>
        </div>

        <div class="element"></div>

        <p class="comments__girl">Emily, Los Angeles</p>

        <div class="home"></div>
      </li>

      <li class="comments__item visually-hidden">
        <div class="photo__wrapper">
          <picture>
            <source
              srcset="/src/images/liza@1x.jpg 1x, /src/images/liza@2x.jpg 2x"
            />
            <img src="/src/images/liza@1x.jpg" alt="" class="comments__photo" />
          </picture>
        </div>

        <div class="comments__div">
          <p class="review">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
            Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
            ipsum primis in nibh vel risus.
          </p>
        </div>

        <div class="element"></div>

        <p class="comments__girl">Emily, Los Angeles</p>
      </li>

      <li class="comments__item visually-hidden">
        <div class="photo__wrapper">
          <picture>
            <source
              srcset="/src/images/mila@1x.jpg 1x, /src/images/mila@2x.jpg 2x"
            />
            <img src="/src/images/mila@1x.jpg" alt="" class="comments__photo" />
          </picture>
        </div>

        <div class="comments__div">
          <p class="review">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
            Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
            ipsum primis in nibh vel risus.
          </p>
        </div>

        <div class="element"></div>

        <p class="comments__girl">Emily, Los Angeles</p>
      </li>
    </ul>
  </div>
</section>
