<section class="comments">
<div class="container">
<h2 class="visually-hidden">Ваши отзывы</h2>
<ul class="comments__list">
<li class="comments__item">

<div class="photo__com">
    <picture>
    <source
    srcset="/src/images/comments/emeli@1x.jpg 1x, /src/images/comments/emeli@2x.jpg 2x">
    <img src="/src/images/comments/emeli@1x.jpg" alt="" class="comments__photo">
    </picture>
 </div>

 <div class="comments__div">
<p class="review">
     Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla
    quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
</p>
</div>

<div class="element"></div>

<p class="comments__girl">Emily, Los Angeles</p>

</li>
</ul>


<ul class="combutton__list">
    <li class="combutton__item">
        <button class="combutton__one" type="button"></button>
           <svg class="home__icon" width="12px" height="12px">
            <use href="/src/images/comments/home-kolo.svg#icon-home"></use> 
        </svg> 
    
          
    </li>

    <li class="combutton__item">
        <button class="combutton" type="button"></button>
    </li>

    <li class="combutton__item">
        <button class="combutton" type="button"></button>
    </li>
</ul>





</div>
</section>
