<section class="galery">
  <div class="galery__container">
    <h2 class="galery__title visually-hidden">Galery</h2>
<picture>
  <source srcset="
            /src/images/collagedesktop1x.png 1x,
           /src/images/collagedesktop2x.png 2x
          " media="(min-width: 1200px)" />
  <source srcset="
            /src/images/collagetablet1x.png 1x,
            /src/images/collagetablet2x.png 2x
          " media="(min-width: 768px)" />
  <source srcset="
           /src/images/collagemobile1x.png 1x,
           /src/images/collagemobile2x.png 2x
          " media="(max-width: 767px)" />

  <img class="gallery__image" src="/src/images/collagemobile1x.png" alt="collage with many photos" />
</picture>
  </div>
</section>
