<header>
  <ul>
    <li><a href="">я</a></li>
    <li><a href="">ти</a></li>
    <li><a href="">ми</a></li>
    <li><a href="">ви</a></li>
  </ul>
  <ul>
    <li><h1>слово есть</h1></li>
    <li><h1>слово есть</h1></li>
    <li><h1>слово есть</h1></li>
    <li><h1>слово есть</h1></li>
    <li><h1>слово есть</h1></li>
    <li><h1>слово есть</h1></li>
    <li><h1>слово есть</h1></li>
  </ul>
  <section>
    <h3>big mag</h3>
  </section>
  <article>
    <h4></h4>
    <h4></h4>
    <h4></h4>
    <h4></h4>
    <h4></h4>
  </article>
</header>
