<section>
  <header>
    <div>
      <div>
        <a id="Home" href="./index.html">
          <img src="./images/logo.svg" alt="logo icecream" width="200px"
        /></a>

        <nav>
          <ul>
            <li><a href="#Home">Home</a></li>
            <li><a href="#About">About us</a></li>
            <li><a href="#How it’s made?">How it’s made?</a></li>
            <li><a href="#products">Our products</a></li>
            <li><a href="#сontact">Contact</a></li>
          </ul>
        </nav>
        <button type="button">Buy now</button>
      </div>
      <div>
        <h1>
          <span>ice cream made with</span>
          <span>passion</span>
        </h1>
        <ul>
          <li><a href="#Our products">Products</a></li>
          <li><a href="#How it’s made?">How it’s made?</a></li>
        </ul>
      </div>
      <div>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et
        </p>
        <button class="arrow-btn" type="button">
          <svg class="arrow-icon" width="7px" height="7px">
            <use href="./images/symbol-defs.svg#icon-arrow-right-icon"></use>
          </svg>
        </button>
      </div>

      <p>
        <span>16</span>
        <span>cafes</span>
      </p>
      <p>
        <span>23</span>
        <span>food trucks</span>
      </p>
    </div>
  </header>
</section>
