<header class="header">
  <div class="header__container">
    <nav class="navigation">
      <a class="logo" id="Home" href="./index.html">
        <img
          class="logo__icon"
          src="./images/logo.svg"
          alt="logo icecream"
          width="200"
      /></a>
      <button
        class="header__mobile-menu"
        is-open
        type="button"
        data-menu-button
        aria-controls="navigation-menu"
      >
        <svg
          class="mobile-menu__icon"
          width="20px"
          height="12px"
          aria-label="switcher mobile menu"
        >
          <use href="/src/images/symbol-defs.svg#icon-burger-menu"></use>
        </svg>
      </button>
      <button
        class="header__mobile-close"
        is-open
        type="button"
        data-menu-button
        aria-controls="close-menu"
      >
        <svg
          class="mobile-close__icon"
          width="14px"
          height="14px"
          aria-label="close mobile menu"
        >
          <use href="/src/images/symbol-defs.svg#icon-closebtn"></use>
        </svg>
      </button>
      <ul class="navigation__list">
        <li class="navigation__item">
          <a class="navigation__link" href="#home">Home</a>
        </li>
        <li class="navigation__item">
          <a class="navigation__link" href="#about">About us</a>
        </li>
        <li class="navigation__item">
          <a class="navigation__link" href="#how-made">How it’s made?</a>
        </li>
        <li class="navigation__item">
          <a class="navigation__link" href="#products">Our products</a>
        </li>
        <li class="navigation__item">
          <a class="navigation__link" href="#сontact">Contact</a>
        </li>
      </ul>
      <button class="header__button" type="button">Buy now</button>
    </nav>

    <section class="hero">
      <div class="hero__title-wrapper">
        <h1 class="hero__title">
          <span class="hero__title-span">ice cream made with</span>
          <span class="hero__title-span">passion</span>
        </h1>
        <div class="hero__meta-wrapper">
          <p class="hero__meta points">
            <span class="points__number">16</span>
            <span class="points__name">cafes</span>
          </p>
          <p class="hero__meta points">
            <span class="points__number">23</span>
            <span class="points__name">food trucks</span>
          </p>
        </div>
      </div>
      <ul class="hero__btn-list">
        <li class="hero__btn-item">
          <a class="hero__btn" href="#products">Products</a>
        </li>
        <li class="hero__btn-item">
          <a class="hero__btn" href="#how-made">How it’s made?</a>
        </li>
      </ul>
      <div class="card">
        <p class="card__meta">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et
        </p>
        <button class="card__btn arrow-btn" type="button">
          <svg class="arrow-btn__arrow-icon" width="7px" height="7px">
            <use href="./images/symbol-defs.svg#icon-arrow-right-icon"></use>
          </svg>
        </button>
      </div>

      <picture>
        <source
          srcset="
            /src/images/milkdesktop1x.png 1x,
            /src/images/milkdesktop2x.png 2x
          "
          media="(min-width: 1200px)"
        />
        <source
          srcset="
            /src/images/milktablet1x.png 1x,
            /src/images/milktablet2x.png 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            /src/images/milktablet1x.png 1x,
            /src/images/milktablet2x.png 2x
          "
          media="(max-width: 767px)"
        />

        <img
          class="milk__foto"
          src="/src/images/milktablet1x.png"
          alt="the picture shows a jug of milk"
        />
      </picture>
      <picture>
        <source
          srcset="
            /src/images/icedesktop1x.png 1x,
            /src/images/icedesktop2x.png 2x
          "
          media="(min-width: 1200px)"
        />

        <source
          srcset="
            /src/images/icetablet1x.png 1x,
            /src/images/icetablet2x.png 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="/src/images/icemob1x.png 1x, /src/images/icemob2x.png 2x"
          media="(max-width: 767px)"
        />

        <img
          class="icecream__foto"
          src="/src/images/icedesktop1x.png"
          alt="the picture shows a large serving of ice cream in a cone"
        />
      </picture>
      <picture>
        <source
          srcset="
            /src/images/girldesktop1x.png 1x,
            /src/images/girldesktop2x.png 2x
          "
          media="(min-width: 1200px)"
        />

        <source
          srcset="
            /src/images/girltablet1x.png 1x,
            /src/images/girltablet2x.png 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            /src/images/girltablet1x.png 1x,
            /src/images/girltablet2x.png 2x
          "
          media="(max-width: 767px)"
        />

        <img
          class="girl__foto"
          src="/src/images/girltablet1x.png"
          alt="the picture shows a girl with ice cream"
        />
      </picture>
    </section>
  </div>
</header>
