<section class="products" id="products">
  <div class="products__container">
    <p class="products__subtitle">100% natural</p>
    <h2 class="products__title">products</h2>

    <ul class="products__list">
      <li class="products__item">
        <h3 class="products__name">ice cream</h3>
        <p class="products__meta">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et
        </p>
        <button
          class="products-btn"
          type="button"
          aria-label="button wich open card of prodact"
        >
          <svg class="products-icon" width="11px" height="10px">
            <use href="./images/symbol-defs.svg#icon-arrow-right-icon"></use>
          </svg>
        </button>
      </li>

      <li class="products__item">
        <h3 class="products__name">ice coffee</h3>
        <p class="products__meta">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et
        </p>
        <button
          class="products-btn"
          type="button"
          aria-label="button wich open card of prodact"
        >
          <svg class="products-icon" width="11px" height="10px">
            <use href="./images/symbol-defs.svg#icon-arrow-right-icon"></use>
          </svg>
        </button>
      </li>

      <li class="products__item">
        <h3 class="products__name">milkshake</h3>
        <p class="products__meta">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et
        </p>
        <button
          class="products-btn"
          type="button"
          aria-label="button wich open card of prodact"
        >
          <svg class="products-icon" width="11px" height="10px">
            <use href="./images/symbol-defs.svg#icon-arrow-right-icon"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
