ul,
li {
    list-style: none;
    margin: 0;
}
.advantages {
    background-color: $footerBgColor;
    @extend %section;

}

.container {
    @extend %container;
}

.advantages__list {
    @media screen and (min-width: 768px) {
        display: flex;
    }

    @media screen and (min-width: 1200px) {
        justify-content: flex-start;
    }
}

.advantages__item {

    @media screen and (max-width: 767px) {
        max-width: 200px;
    }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        width: 170px;
    }

    @media screen and (min-width: 1200px) {
        width: 288px;
    }

    &:not(:last-child) {
    @media screen and (max-width: 767px) {
        margin-bottom: 32px;
    }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        margin-right: 22px;
    }

    @media screen and (min-width: 1200px) {
        margin-right: 132px;
    }
}
}

.advantages__title {
    font-family: $font-secondary;
    font-weight: 400;
    text-transform: uppercase;

    color: $primmaryRedColor;

    @media screen and (max-width: 767px) {
            margin-bottom: 4px;
    
            font-size: 36px;
            line-height: 41px;
        }
    
        @media screen and (min-width: 768px) and (max-width: 1199px) {
            margin-bottom: 13px;
    
            font-size: 48px;
            line-height: 55px;
        }
    
        @media screen and (min-width: 1200px) {
            margin-bottom: 16px;
    
            font-size: 58px;
            line-height: 66px;
        }
}

        .title-img1::before {
            content: "";
            display: block;
            width: 50px;
            height: 50px;
            background-image: url(/src/images/icon-advantages1.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            margin-top: 40px;
            margin-bottom: 40px;
        }

        .title-img2::before {
        content: "";
        display: block;
        width: 50px;
        height: 50px;
        background-image: url(/src/images/icon-advantages2.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        margin-top: 40px;
        margin-bottom: 40px;
        }

        .title-img3::before {
        content: "";
        display: block;
        width: 50px;
        height: 50px;
        background-image: url(/src/images/icon-advantages3.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        margin-top: 40px;
        margin-bottom: 40px;
        }

.advantages__paragraph {
    font-weight: 700;
    font-size: 12px;
    line-height: 1.7;
    letter-spacing: 0.02em;

    color: $primmaryBlackColor;

    @media screen and (max-width: 767px) {
        font-size: 12px;
        line-height: 1.7;

    }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        font-size: 14px;
        line-height: 1.74;
    }

    @media screen and (min-width: 1200px) {
        font-size: 16px;
        line-height: 1.76;
    }
}