.contacts{
   @extend %section;
    background: linear-gradient(to bottom, $primmaryWhiteColor 20%, $footerBgColor 20% 80%);
}
.contacts__container{
    @extend %container;
}
.visually-hidden{
    @extend %visually-hidden;
}
.contacts__list{
    @extend %list;
    margin-bottom: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;

    @media screen and (max-width:767px){
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 60px;
    }
}

.contacts__item{
       
       
        background-color: $primmaryWhiteColor;
        box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
        border-radius: 24px;
    
    @media screen  and (max-width:767px){
            max-width: 220px;
            margin-left: auto;
            margin-right: auto;
            padding: 40px 32px;
            font-size: 12px;
         }
    &:not(:last-child) {
            @media screen and (max-width:767px) {
                margin-bottom: 20px;
                width: 100%;
            }
        }
         
    
        @media screen and (min-width: 768px){
            flex-basis: calc((100% - 60px) / 3);
            margin-right: 20px;
            padding: 40px 32px;
            font-size: 14px;
            &:last-child {
            margin-right: 0px;
            }
            
        }

         @media screen and (min-width: 1200px){
            flex-basis: calc((100% - 60px) / 3);
            margin-right: 30px;
            padding: 40px;
            font-size: 16px;

        &:last-child {
            margin-right: 0px;
            }
         }
}

.contacts__block{
    margin-top: 0;
    margin-bottom: 30px;
    text-transform: uppercase;
    color: $primmaryWhiteColor;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.86;
    text-align: center;
    letter-spacing: 0.04em;
    
    @media screen and (max-width:767px) {
        font-size: 12px;
       

    }

    @media screen and (min-width: 768px) {
        font-size: 14px;
    }

    @media screen and (min-width: 1200px) {
        font-size: 16px;
    }

}
.name__cafe{
    text-align: center;
   
    width: 75px;
    height: 28px;
    background: $cardColor2;
    border-radius: 4px;
    @media screen and (max-width:767px) {
        width: 80px;
            font-size: 12px;
            height: 16px;
    
    }
    
}


.name__foodtruck{
    text-align: center;
    width: 138px;
    height: 28px;
    background: $cardColor3;
    border-radius: 4px;
    @media screen and (max-width:767px) {
            
        width: 130px;
        font-size: 12px;
            height: 16px;
    
        }
    
}

.contacts__place {
&::after {
        content: "";
        display: block;
        width: 100%;
        height: 1px;
        background-color: #E1E1E1;
        margin-top: 0px;
        margin-bottom: 32px;
    }
}
        

.contacts__title {
    margin-top: 0;
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 14px;
    color: $primmaryBlackColor;
    line-height: 1.8;
    letter-spacing: 0.04em;
    @media screen and (max-width:767px) {
            font-size: 12px;
        }
    
        @media screen and (min-width: 768px) {
            font-size: 14px;
        }
    
        @media screen and (min-width: 1200px) {
            font-size: 16px;
        }
}

.contacts__text{
    margin-top: 0;
    margin-bottom: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.6;
    color: $greyTextColor;
    letter-spacing: 0.04em;
    @media screen and (max-width:767px) {
            font-size: 12px;
        }
    
        @media screen and (min-width: 768px) {
            font-size: 14px;
        }
    
        @media screen and (min-width: 1200px) {
            font-size: 16px;
        }
}

.contact__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.8;
    color: $greyTextColor;
    cursor: pointer;
    text-decoration: none;
    display: block;
    transition: color 400ms ease-in-out;
       

    &:hover,
    &:focus,
    :active {
        color: $primmaryRedColor;
        
    }
    
}
.contacts__date {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.8;
    color: $primmaryBlackColor;
    letter-spacing: 0.04em;
    @media screen and (max-width:767px) {
            font-size: 12px;
        }
    
    @media screen and (min-width: 768px) {
            font-size: 14px;
        }
    
    @media screen and (min-width: 1200px) {
            font-size: 16px;
        }
}
.contacts__time {
    margin-top: 0;
    margin-bottom: 12px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.8;
    color: $pinkTextColor;
    @media screen and (max-width:767px) {
            font-size: 12px;
        }
    
        @media screen and (min-width: 768px) {
            font-size: 14px;
        }
    
        @media screen and (min-width: 1200px) {
            font-size: 16px;
        }
}

.contacts__daysplace{
&::after {
        content: "";
        display: block;
        width: 100%;
        height: 1px;
        background-color: #E1E1E1;
        margin-top: 32px;
        margin-bottom: 32px;
    }
}

.button__contacts{
    @extend %list;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    

    @media screen and (max-width: 767px) {
        flex-direction: column;
    }
}
.butcon__item {
   
    &:not(:last-child) {
        @media screen and (min-width: 767px) {
            margin-right: 15px;
        }
         @media screen and (max-width: 767px) {
        margin-bottom: 10px;
        
    }

} 
}

.button__locat{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
   
   
    padding: 13px 35px;
    border: none;
    border-radius: 22px;
    font-family: $font-primary;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.13;
    cursor: pointer;
    color: $primmaryWhiteColor;
    background: $primmaryRedColor;
    text-align: center;
    transition: background-color 400ms ease-in-out, color 400ms ease-in-out;
    
    &:hover,
    &:focus,
    &:active{
    background-color: $accentBtnColor;
    color:$primmaryRedColor;
  
    }
    @media screen and (max-width:767px) {
            min-width: 161px;
            padding-left: 17px;
            padding-right: 17px;
    }
    
    @media screen and (min-width: 768px) {
            min-width: 192px;
    }
    
    @media screen and (min-width: 1200px) {
            min-width: 198px;
    }

}

.button__icon{
    stroke: currentColor;
    fill: transparent;
    flex-grow: 1;
}

.locat-franchise{
    color: $primmaryRedColor;
    background: $primmaryWhiteColor;
    cursor: pointer;
    min-width: 168px;
    transition: background-color 400ms ease-in-out;

    &:hover,
    &:focus,
    &:active {
    background-color: $accentBtnColor;
    }
    @media screen and (max-width:767px) {
        min-width: 161px;
        padding-left: 32px;
        padding-right: 32px;
        
    }

    @media screen and (min-width: 768px) {
        min-width: 174px;
    }

    @media screen and (min-width: 1200px) {
        min-width: 168px;
}
}
