.visually-hidden {
    @extend %visually-hidden;
}
.comments {
    @extend %section;
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: $primmaryWhiteColor;
&__container{
    @extend %container;
}
&__list{
    padding: 0;
    @extend %list;
}
&__item {
    margin: 0;
}
&__div {
    position: relative;
    margin: 0 auto;
   
    width: 100%;
    background-color: $greyBgColor;
    @media screen and (max-width:767px) {
        margin-bottom: 16px;
        padding: 47px 54px 32px 59px;
        }
    
    @media screen and (min-width:768px) and (max-width:1199px) {
        margin-bottom: 0px;
        padding: 37px 55px 44px 50px;
            width: 620px;
        
        }
    
    @media screen and (min-width:1200px) {
        margin-bottom: 16px;
        padding: 32px 74px 31px 72px;
        width: 926px;
        }
    
    &::before {
        content: "";
        display: block;
        position: absolute;
        left: 50px;
        top: 30px;
        width: 54px;
        height: 40px;
        background-image: url(/src/images/“.svg);

        @media screen and (min-width:768px) and (max-width:1199px) {
        top: 20px;
        left: 30px;
        }
        @media screen and (min-width:1200px) {
        top: 20px;
        left: 75px;
        }
    }
}

&__girl {
    font-weight: 500;
    font-size: 12px;
    line-height: 2.55;
    text-align: center;
    color: $primmaryBlackColor;
    margin: 0;
    margin-top: 16px;

    @media screen and (min-width:768px) {
        font-size: 14px;
        line-height: 2.16;
    }
    @media screen and (min-width:1200px) {
        font-size: 16px;
        line-height: 1.86;
    }
}
}

.photo__wrapper {
    margin: 0 auto;
    
    width: 85px;
    height: 85px;
    border-radius: 50%;
    @media screen and (max-width:767px) {
        margin-bottom: 32px;
    }
    @media screen and (min-width:768px) and (max-width:1199px) {
        margin-bottom: 20px;
    }
    @media screen and (min-width:1200px) {
        margin-bottom: 16px;
    }
}




.review {
    position: relative;
    padding: 0px 16px 0px 7px;
    font-weight: 500;
    font-size: 12px;
    line-height: 2.55;
    text-align: center;
    color:$primmaryBlackColor;
    background-image: repeating-linear-gradient(to top,
    #E1E1E1,
    #E1E1E1 1px,
    transparent 1px,
    transparent 31px);
    background-repeat: no-repeat;
    margin: 0;
    @media screen and (min-width: 768px) {
        padding: 0px 44px 0px 20px;
        font-size: 14px;
        line-height: 2.16;
        letter-spacing: 0.04em;
        background-image: repeating-linear-gradient(to top,
        #E1E1E1,
        #E1E1E1 1px,
        transparent 1px,
        transparent 30px);
    }
    @media screen and (min-width: 1200px) {
        padding: 0px 35px 0px 28px;
        font-size: 16px;
        line-height: 1.86;
    }

   }

.element {
  
 &::after{
    content:"";
    display: block;
    height: 4px;
    background-image: url(/src/images/redpoints-icon.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
 }
}


.home{
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 32px;
    &::after {
        display: flex;
        flex-grow: 1;
        content: "";
        height: 11px;
        width: 12px;
        background-image: url(/src/images/hrdots.svg);
        background-size: auto;
        background-repeat: no-repeat;
        background-position: center;

    }
    @media screen and (max-width:767px) {
        margin-top: 16px;
    }
} 


