.comments {
    @extend %section;
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #ffffff;
&__container{
    @extend %container;
}
&__list{
    padding: 0;
    @extend %list;
}
&__item {
    margin-bottom: 30px;
}
&__div {
    position: relative;
    margin: 0 auto;
    margin-bottom: 30px;
    width: 100%;
    background-color: #FAFAFA;
    padding: 43px 50px 20px;
    @extend %list;

    &::before {
        content: "";
        display: block;
        position: absolute;
        left: 61px;
        top: 28px;
        width: 54px;
        height: 40px;
        background-image: url(/src/images/comments/“.svg);
    }
}
}


.visually-hidden {
    @extend %visually-hidden;
}

.photo__com {
    margin: 0 auto;
    margin-bottom: 30px;
    width: 85px;
    height: 85px;
    border-radius: 50%;
}




.review {
    position: relative;
    padding: 0px 16px 0px 7px;
    font-weight: 500;
    font-size: 12px;
    line-height: 2.55;
    text-align: center;
    color: #000000;
    background-image: repeating-linear-gradient(to top,
            #E1E1E1,
            #E1E1E1 1px,
            transparent 1px,
            transparent 31px);
    background-repeat: no-repeat;
    margin: 0;

    
}

.element {
  
 &::after{
    content:"";
    display: block;
    height: 4px;
    background-image: url(/src/images/redpoints-icon.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
 }
}


.comments__girl {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.86;
    text-align: center;
    color: #000000;
    margin: 0;
    margin-top: 16px;
}



@media screen and (min-width: 768px) {
    .comments__div {
        padding: 47px 36px 28px 60px;
        width: 620px;

        &::before {
            top: 30px;
            left: 40px;
        }
    }

    .review {
        padding: 0px 44px 0px 20px;
        font-size: 14px;
        line-height: 2.16;
        letter-spacing: 0.04em;
        background-image: repeating-linear-gradient(to top,
                #E1E1E1,
                #E1E1E1 1px,
                transparent 1px,
                transparent 30px);
    }

    .comments__girl {
        font-size: 16px;
    }

}

@media screen and (min-width: 1200px) {
    .comments__div {
        padding: 47px 54px 32px 59px;
        width: 926px;

        &::before {
            top: 32px;
            left: 50px;
        }
    }

    .review {
        padding: 0px 35px 0px 28px;
        font-size: 16px;
        line-height: 1.86;
       
    }

    .comments__girl {
        font-size: 20px;
        
    }
}

.home{
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 32px;
    &::after {
            display: flex;
            flex-grow: 1;
            content: "";
            height: 11px;
            width: 12px;
            background-image: url(/src/images/comments/hrdots.svg);
            background-size: auto;
            background-repeat: no-repeat;
            background-position: center;

    }
} 


