.products {
    @extend %section;
    background-color: $primmaryWhiteColor;
    
    &__container{
        @extend %container;
        @media screen and (max-width: 768px) {
        padding-left: 20px;
        padding-right: 20px;
    }
        @media screen and (min-width: 768px) and (max-width: 1199px) {
            padding-left: 32px;
            padding-right: 32px;
        }
    }
    &__subtitle{
        margin: 0;
        font-family: $font-secondary ;
        margin-left: auto;
        margin-right: auto;
        font-weight: 400;
        text-transform: uppercase;
        color: $pinkTextColor;
        text-align: center;
        letter-spacing: 0.04em;

        @media screen and (max-width: 768px) {
                font-size: 18px;
                line-height: 1.16;                                      
                margin-bottom: 15px;                
            }
        
            @media screen and (min-width: 768px) and (max-width: 1199px) {
                
                font-size: 26px;
                line-height: 1.15;                               
                margin-bottom: 18px;
                
            }
        
            @media screen and (min-width: 1200px) {
                font-size: 30px;
                line-height: 1.13;                 
                margin-bottom: 16px;                   
           }
    }
    &__title{
        margin: 0;
        margin-left: auto;
        margin-right: auto;

        text-align: center;
        font-weight: 400;
        font-family: $font-secondary;
        color: $primmaryRedColor;
        text-transform: uppercase;
        letter-spacing: 0.04em;

        @media screen and (max-width: 768px) {
            margin-bottom: 148px;
            font-size: 34px;
            line-height: 1.14;
        }
        @media screen and (min-width: 768px) and (max-width: 1199px) {
            margin-bottom: 158px;
            font-size: 48px;
            line-height: 1.14;
        }
        @media screen and (min-width: 1200px) {
            margin-bottom: 281px;
            font-size: 58px;
            line-height: 1.13;
        }
    }

    &__list{
        @extend %list;
        display: flex;
        align-items: center;
        justify-content: center;
        @media screen and (max-width: 768px) {
            display: block;
        }
        @media screen and (min-width: 768px) and (max-width: 1199px) {}
        @media screen and (min-width: 1200px) {}


    }
    &__item{
        border-radius: 24px;
        position: relative;
      
       

        &:first-child{
        background-color: $cardColor1;
        }
        &:nth-child(2){
        background-color: $cardColor2;
        }
        &:last-child{
        background-color: $cardColor3;
        }

        @media screen and (max-width: 768px) {
            width: 100%;
            margin-left: auto;
            margin-right: auto;
            padding-bottom: 40px;
            padding-top: 160px;
            margin-bottom: 140px;

            &:first-child {
            &::before {
            position: absolute;
            display: block;
            top: 0px;
            left: 0;
            transform: translateY(-50%);
                
            content: "";
            width: 100%;
            height: 280px;
                
            background-image: url(/src/images/icecreammobile1x.png);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            @media screen and (min-device-pixel-ratio: 2),
            screen and(min-resolution: 192dpi),
            screen and (min-resolution: 2dppx) {
            background-image:url(/src/images/icecreammobile2x.png);}

            }
        }
                
            &:nth-child(2) {
            &::before {
            position: absolute;
            display: block;
            top: 0px;
            left: 0;
            transform: translateY(-50%);
                
            content: "";
            width: 100%;
            height: 280px;
                
            background-image: url(/src/images/icecoffeemobile1x.png);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            @media screen and (min-device-pixel-ratio: 2),
            screen and(min-resolution: 192dpi),
            screen and (min-resolution: 2dppx) {
            background-image: url(/src/images/icecoffeemobile2x.png);
                }
            }
        }
                
            &:last-child {
            &::before {
            position: absolute;
            display: block;
            top: 0px;
            left: 0;
            transform: translateY(-50%);
                
            content: "";
            width: 100%;
            height: 280px;
                
            background-image: url(/src/images/milkshakesmobile1x.png);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            @media screen and (min-device-pixel-ratio: 2),
            screen and(min-resolution: 192dpi),
            screen and (min-resolution: 2dppx) {
            background-image: url(/src/images/milkshakesmobile2x.png);
                }
            }
        }
            }
        @media screen and (min-width: 768px) and (max-width: 1199px) {
            width: calc((100% - 32px)/3);
            &:not(:last-child){
                margin-right: 16px;
            }
            // padding: 40px 32px;
            padding-bottom: 40px;
            padding-top: 118px;

            &:first-child {
            &::before {
            position: absolute;
            display: block;
            top: 0px;
            left: 0;
            transform: translateY(-60%);
            
            content: "";
            width: 100%;
            height: 224px;
            
            background-image: url(/src/images/icecreamtablet1x.png);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            @media screen and (min-device-pixel-ratio: 2),
            screen and(min-resolution: 192dpi),
            screen and (min-resolution: 2dppx) {
            background-image: url(/src/images/icecreamtablet2x.png);
                }
            }
        }
            
            &:nth-child(2) {
            &::before {
            position: absolute;
            display: block;
            top: 0px;
            left: 0;
            transform: translateY(-60%);
            
            content: "";
            width: 100%;
            height: 224px;
            
            background-image: url(/src/images/icecoffeetablet1x.png);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            @media screen and (min-device-pixel-ratio: 2),
            screen and(min-resolution: 192dpi),
            screen and (min-resolution: 2dppx) {
            background-image: url(/src/images/icecoffeetablet2x.png);
                }
            }
        }
            
            &:last-child {
            &::before {
            position: absolute;
            display: block;
            top: 0px;
            left: 0;
            transform: translateY(-60%);
            
            content: "";
            width: 100%;
            height: 224px;
            
            background-image: url(/src/images/milkshaketablet1x.png);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            @media screen and (min-device-pixel-ratio: 2),
            screen and(min-resolution: 192dpi),
            screen and (min-resolution: 2dppx) {
            background-image: url(/src/images/milkshaketablet2x.png);
                }
            }
        }

        }

        @media screen and (min-width: 1200px) {
            width: calc((100% - 64px)/3);
            &:not(:last-child) {
                margin-right: 32px;
            }
            padding-top: 165px;
            padding-bottom: 60px;

            &:first-child {
            &::before {
            position: absolute;
            display: block;
            top: 0px;
            left: 0;
            transform: translateY(-261px);
                
                content: "";
            width: 100%;
            height: 394px;
                
            background-image: url(/src/images/icecreamdesktop1x.png);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            @media screen and (min-device-pixel-ratio: 2),
            screen and(min-resolution: 192dpi),
            screen and (min-resolution: 2dppx) {
            background-image: url(/src/images/icecreamdesktop2x.png);
            }
                }
            }
            &:nth-child(2) {
            &::before {
            position: absolute;
            display: block;
            top: 0px;
            left: 0;
            transform: translateY(-261px);
                
            content: "";
            width: 100%;
            height: 394px;
                
            background-image: url(/src/images/icecoffeedesktop1x.png);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            @media screen and (min-device-pixel-ratio: 2),
            screen and(min-resolution: 192dpi),
            screen and (min-resolution: 2dppx) {
            background-image: url(/src/images/icecoffeedesktop2x.png);
            }
                }
            }
            &:last-child {
            &::before {
            position: absolute;
            display: block;
            top: 0px;
            left: 0;
            transform: translateY(-261px);
            
            content: "";
            width: 100%;
            height: 394px;
            
            background-image: url(/src/images/milkshakedesktop1x.png);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            @media screen and (min-device-pixel-ratio: 2),
            screen and(min-resolution: 192dpi),
            screen and (min-resolution: 2dppx) {
            background-image: url(/src/images/milkshakedesktop2x.png);
            }
            }
            }

        }
        
    }

    &__name{
        position: relative;
        margin: 0;
        margin-bottom: 32px;
        font-family: $font-secondary;
        text-align: center;
        color: $primmaryWhiteColor;
        letter-spacing: 0.04em;
        font-style: normal;
        font-weight: 400;
        text-transform: uppercase;


        @media screen and (max-width: 768px) {
            font-size: 20px;
            line-height: 1.15;
        }
        @media screen and (min-width: 768px) and (max-width: 1199px) {
            font-size: 20px;
            line-height: 1.15;

        }
        @media screen and (min-width: 1200px){
            font-size: 30px;
            line-height:1.13;

        }

       &::after{
        display: block;
        content: "";
        width: 26px;
        height: 6px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 32px;
        background-image:url(/src/images/whitepoints-icon.svg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
     
       } 



    }
    &__meta{
        margin: 0;
        margin-left: auto;
        margin-right: auto;
        font-family: $font-primary;
        font-style: normal;
        font-weight: 700;
        text-align: center;
        letter-spacing: 0.04em;
        color: $primmaryWhiteColor;
        @media screen and (max-width: 768px) {
            font-size: 14px;
            line-height: 1.52;
            margin-bottom: 32px;
            max-width: 200px;
            
        }
        @media screen and (min-width: 768px) and (max-width: 1199px) {
            font-size: 14px;
            line-height: 1.76;
            margin-bottom: 32px;
            max-width: 160px;
        }
        @media screen and (min-width: 1200px) {
            font-size: 16px;
            line-height: 1.76;
            margin-bottom: 60px;
            max-width: 245px;
        }
    }
 
}
                                   

.products-btn {
margin-left: auto;
margin-right: auto;
display: flex;
align-items: center;
justify-content: center;
width: 40px;
height: 40px;
border: none;
border-color: transparent;
border-radius: 50%;
background-color: $primmaryWhiteColor;
cursor: pointer;
color: $primmaryRedColor;
transition: background-color 400ms ease-in-out;
                
&:hover,
&:focus,
&:active {
background-color: $accentBtnColor;
    }
                
                
.products-icon {
fill: $primmaryRedColor;
    }
}
